* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.main-visual {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-step {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}

.main-step:last-child {
  margin-right: 0;
}

.step {
  position: absolute;
  background-color: #ff9a4b;
  color: #ffffff;
  text-align: center;
  top: 0;
  left: 0;
}

.main-visual-image1 {
  height: 150px;
  background-image: url(../img/img9/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-image2 {
  height: 150px;
  background-image: url(../img/img9/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-image3 {
  height: 150px;
  background-image: url(../img/img9/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.main-visual-header {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}
